@media screen and (min-width: 722px) {
  
  body {
    /* min-width: 662px; */
    font-size: 0.95em;
    box-sizing: border-box;
    background-color: rgb(243, 243, 243);
    width: 100vw;
    height: 100vh;
  }
  
  /* IMAGE PROPERTY */

  .logo {
    width: 65px;
    position: fixed;
    left: 20px;
    top: 24px;
  }
  
  #icon-arrow-down {
    height: 6px;
    margin-left: 2px;
  }
  
  .main-image-container {
    width: 28%;
  }
  
  .image-hero {
    width: 100%;
    max-height: 50%;
    object-fit: contain;
    display: block;
    margin-left: 20px;
  }

  .client img {
    width: 80px;
  }
  
  .mobile-image-hero, #hamburger-menu {
    display: none;
  }

  #overlay {
    display: none;
  }
  
  /* HEADER PROPERTY */


  #container {
    padding: 13px;
    position: fixed;
    width: 87%;
    height: 6%;
    top: 0%;
    left: 10%;
    background-color: rgb(243, 243, 243);
    margin-left: 20px;
    z-index: 1;
    display: block;
  }

  #navbar {
    display: flex;
    justify-content: space-between;
    min-width: 625px;
  }

  #navbar-menu {
    display: flex;
    padding: 0;
  }

  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav li {
    margin-right: 15px;
    cursor: pointer;
    color: gray;
  }
  
  nav li:hover {
    color: black;
  }
  
  nav div {
    display: flex;
  }

  nav ul .register-button {
    border: 1px solid black;
    padding: 10px 18px;
    border-radius: 10px;
  }
  
  /* HOVER CONTENT */
  
  #arrow-feature-elements, #arrow-company-element {
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    position: absolute;
    padding: 10px 20px;
    left: -35px;
  }

  #arrow-company-element {
    position: absolute;
    left: 135px;
  }

  #arrow-company-element p {
    margin: 10px 0;
  }
  
  #arrow-feature-elements div {
    display: flex;
    margin: 0;
  }
  
  #arrow-feature-elements > div > p {
    cursor: pointer;
    font-size: 13px;
  }
  
  #arrow-feature-elements img {
    object-fit: contain;
  }
  
  /* MAIN CONTENT */
  
  main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
  }

  .info-container {
    position: relative;
    text-align: left;
    line-height: 60px;
    min-width: 45%;
  }
  
  .info-container h1 {
    margin: 0;
    font-size: 65px;
  }
  
  .info-container h1 br {
    display: block;
  }
  
  .description {
    max-width: 400px;
    color: gray;
    line-height: 20px;
    font-size: 16px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .learn-more-button {
    margin: 0;
    margin-top: 10px;
    color: white;
    border: none;
    background-color: black;
    padding: 14px 25px;
    border-radius: 14px;
    cursor: pointer;
  }
  
  .learn-more-button:hover {
    color: black;
    padding: 13px 18px;
    background-color: white;
    border: 1px solid gray;
    transition: background-color 0.15s;
  }
  
  .client {
    position: absolute;
    bottom: -150px;
    left: 0;
  }

  .client li {
    margin-right: 20px;
  }
  
  .attribution {
    font-size: 12px;
    position: fixed;
    bottom: 0;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}