* {
  font-family: 'Epilogue', sans-serif;
}

body {
  background-color: rgb(243, 243, 243);
}

#hamburger-menu {
  cursor: pointer;
}

#hamburger-menu li:hover {
  color: black;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

#icon-arrow-down {
  height: 8px;
  margin-left: 2px;
}

nav ul .register-button {
  border: 1px solid black;
  padding: 8px 20px;
  border-radius: 6px;
}

.image-hero {
  display: none;
}

.mobile-image-hero {
  width: 100%;
}

.info-container {
  text-align: center;
}

.info-container h1 {
  font-size: 35px;
}

.info-container h1, p, button {
  margin: 30px;
}

.info-container h1 br {
  display: none;
}

.description {
  font-size: 18px;
  max-width: 420px;
  margin: auto;
}

.learn-more-button {
  color: white;
  border: none;
  background-color: black;
  padding: 16px 23px;
  border-radius: 15px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 15px;
}

.learn-more-button:hover {
  color: black;
  padding: 15px 22px;
  background-color: white;
  border: 1px solid gray;
  transition: background-color 0.15s;
}

.client {
  display: flex;
  position: absolute;
  list-style: none;
  padding: 0;
  left: 16%;
}

.client li {
  margin-right: 20px;
}

.client img {
  width: 72px;
}

#container {
  position: absolute;
  height: 120vh;
  width: 60vw;
  background-color: rgba(255, 255, 255);
  z-index: 1;
  right: 0;
}

#container li {
  font-size: 15px;
}

#navbar-menu {
  margin: 0;
  padding: 10px 10px;
}

#navbar-menu p {
  margin: 10px;
}

nav li {
  list-style: none;
  font-size: 25px;
  padding: 10px;
  color: rgb(89, 89, 89);
  cursor: pointer;
}

#navbar div {
  display: flex;
}

#navbar div img {
  object-fit: contain;
  width: 15px;
}

.sign-register-block {
  padding: 0;
  text-align: center;
}

#company-button nav, #hover-elements div {
  margin-left: 20px;
}

.attribution {
  font-size: 11px; text-align: center;
  margin-top: 70px;
}

@media screen and (min-width: 705px) {
  
  body {
    /* min-width: 662px; */
    font-size: 0.95em;
    box-sizing: border-box;
    background-color: rgb(243, 243, 243);
    width: 100vw;
    height: 100vh;
  }
  
  /* IMAGE PROPERTY */

  .logo {
    width: 65px;
    position: fixed;
    left: 20px;
    top: 25px;
  }
  
  #icon-arrow-down {
    height: 6px;
    margin-left: 2px;
  }
  
  .main-image-container {
    width: 28%;
  }
  
  .image-hero {
    width: 100%;
    max-height: 50%;
    object-fit: contain;
    display: block;
  }

  .client img {
    width: 80px;
  }
  
  .mobile-image-hero, #hamburger-menu {
    display: none;
  }
  
  /* HEADER PROPERTY */


  #container {
    position: fixed;
    width: 89%;
    height: 14%;
    top: 0;
    left: 10%;
    background-color: rgb(243, 243, 243);
  }

  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 630px;
  }

  #navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav li {
    margin-right: 15px;
    cursor: pointer;
    color: gray;
  }
  
  nav li:hover {
    color: black;
  }
  
  nav div {
    display: flex;
  }

  nav ul .register-button {
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 6px;
  }
  
  /* HOVER CONTENT */
  
  #hover-elements, #hover-element-company-button {
    background-color: white;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  #hover-elements div {
    display: flex;
  }
  
  #hover-elements > div > p {
    cursor: pointer;
    font-size: 13px;
    margin: 8px 0px;
  }
  
  #hover-elements img {
    object-fit: contain;
    margin-right: 10px;
  }
  
  /* MAIN CONTENT */
  
  main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 65px;
  }

  .info-container {
    position: relative;
    text-align: left;
    line-height: 60px;
  }
  
  .info-container h1 {
    margin: 0;
    font-size: 65px;
  }
  
  .info-container h1 br {
    display: block;
  }
  
  .description {
    max-width: 400px;
    color: gray;
    line-height: 20px;
    font-size: 16px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .learn-more-button {
    margin: 0;
    margin-top: 10px;
    color: white;
    border: none;
    background-color: black;
    padding: 14px 19px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .learn-more-button:hover {
    color: black;
    padding: 13px 18px;
    background-color: white;
    border: 1px solid gray;
    transition: background-color 0.15s;
  }
  
  .client {
    position: absolute;
    bottom: -120px;
    left: 0;
  }

  .client li {
    margin-right: 20px;
  }
  
  .attribution {
    font-size: 11px; text-align: center;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    left: 41%;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}